.weather {
  color: #515050;
  height: 325px;
  width: 100%;
  background-color: #F1F1F1;
  text-align: center;
}

.weather__header {
  padding: 45px 0;
}

.weather__form {
  input {
    margin-right: 25px;
  }
}

.weather__display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  //opacity:0;
  transition: all .5s;
  P {
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: rgb(255, 255, 255);
    height: 50px;
    display: flex;
    &:not(:last-of-type) {
      border-right:1px solid lightgrey;
    }
  }
}
