header {
  height: 105px;
  width: 100%;
  background-color: #c7c7c7;
  box-shadow: 0 2px 2px #e7e7e7;

  .heading {
    display: flex;
    height: 100%;
    align-items: center;
    float: left;
    padding-left: 40px;
    color: #515050;
  }
}
