// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.template {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  opacity: .3;
}
