<div class="listing">
  <div class="listing__prop">
    <p class="listing__prop--cost">$500,000</p>
    <p class="listing__prop--address">123 town st</p>
  </div>
  <div class="listing__details">
    <div class="listing__image"></div>
    <div class="listing__cont">
      <div class="listing__data">
        <div>
          <p class="listing__data--left">Bedrooms:</p>
          <p class="listing__data--left">Bathrooms:</p>
        </div>
        <div>
          <p class="listing__data--left">3</p>
          <p class="listing__data--left">4</p>
        </div>
      </div>
    </div>
    <div class="listing__cont">
      <div class="listing__data">
        <div>
          <p class="listing__data--right">Taxes:</p>
          <p class="listing__data--right">Status:</p>
          <p class="listing__data--right">Type:</p>
          <p class="listing__data--right">Added:</p>
        </div>
        <div>
          <p class="listing__data--right">$17,00</p>
          <p class="listing__data--right">Active</p>
          <p class="listing__data--right">Single - Family Home</p>
          <p class="listing__data--right">April 18th, 2017</p>
        </div>

      </div>
    </div>
  </div>
</div>
