:host:not(:last-of-type) > div {
  border-bottom: 1px solid lightgray;
}

.listing {
  padding: 25px 0 55px;
  display: flex;
  flex-direction: column;
}

.listing__image {
  max-height: 100%;
  height: 100%;
  width: 85%;
  border-radius: 15px;
  flex: 2;
  object-fit: cover;
}

.listing__cont {
  flex: 2;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 0 3%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2vw;
  height: 80%;
}


.listing__details {
  flex: auto;
  display: flex;
  height: 20vw;
  align-items: center;
  & > div:nth-child(2){
    border-right: 1px solid lightgrey;
    flex:1;
  }
  & > div:nth-child(3) {
    padding: 0 0 0 3%;
  }
}

.listing__data {
  color: #767676;
  display: inline-flex;
  & > div {
    display: flex;
    flex-direction: column;
  }
  & > div:last-of-type {
    color: rgb(139, 139, 139);
    font-weight: 300;
  }
  & > div:not(:last-of-type){
    padding-right: 20px
  }
  &--left {
    @extend .listing__data;
  }
  &--right {
    @extend .listing__data;
    width: 100%;
  }
  & p {
    padding-bottom: 15px;
  }
}

.listing__prop {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-bottom: 15px;
}

.listing__prop--cost {
  font-size: 36px;
  color: #515050;
}

.listing__prop--address {
  font-size: 20px;
  font-weight: 300;
  color: rgb(161, 161, 161);
}

@media screen and (min-width: 975px) {
  div {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .listing__prop--address {
    font-size: 2.5vw;
  }
  .listing__prop--cost {
    font-size: 4vw;
  }
}

.imagecont {
  width: 300px;
  height: 100%;
  flex: 2;
}
