// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button, input {
  height: 45px;
}

button {
  font-family: 'Montserrat', sans-serif;
  background-color: #5879A2;
  border: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  width: 125px;
  padding: 0;
  box-shadow: 2px 2px 5px lightgrey;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  &:active {
    background-color: #688bc1;
  }
}

.appointment__button, .weather__button {
  border-radius: 25px
}
