
input {
  border: 1px solid #979797!important;
  border-radius: 5px;
  padding: 0 15px;
  color: #515050!important;
  height: 45px;
  &::placeholder {
    color: #979797!important;
    font-weight: 300!important;
    font-size: 20px!important;
  }
  &.invalid {
    background-color: rgba(255, 0, 0, 0.15);
  }
  &[readonly] {
    background-color: white!important;
  }
}

