// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  height: 105px;
  width: 100%;
  background-color: #c7c7c7;
  box-shadow: 0 2px 2px #e7e7e7;

  .b-heading {
    display: flex;
    height: 100%;
    align-items: center;

    .b-heading__label {
      font-family: 'Hind Siliguri', sans-serif;
      font-size: 24px;
      font-weight: 300;
      margin: 0 40px;
      color: #515050;
      letter-spacing: .45em;
    }
  }
}