<section>
  <div class="appointment">
    <div>
      <form [formGroup]="appointmentForm" class="appointment__form">
        <p class="appointment__header header__label">SCHEDULE APPOINTMENT</p>
        <input class="appointment__input fname" type="name" placeholder="First Name" formControlName="firstname">
        <input class="appointment__input lname" type="name" placeholder="Last Name" formControlName="lastname">
        <input class="appointment__input email" type="email" placeholder="E-Mail" formControlName="email">
        <div class="form-inline appointment__input date">
          <div class="form-group w-100">
            <div class="input-group w-100">
              <input class="form-control"
                     placeholder="Date"
                     name="dp"
                     ngbDatepicker
                     #d="ngbDatepicker">
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  (click)="d.toggle()"
                  type="button">
                  <span class="oi oi-calendar"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="class appointment__buttongrid">
          <button class="appointment__button">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>

</section>
