<section>
  <div class="appointment">
    <div [hidden]="formDir.submitted">
      <form [formGroup]="appointmentForm" class="appointment__form" #formDir="ngForm">
        <p class="appointment__header header__label">SCHEDULE APPOINTMENT</p>
        <input class="appointment__input fname" type="text" placeholder="First Name" formControlName="fname"
               [class.invalid]="fname.invalid && (fname.dirty || fname.touched)">
        <input class="appointment__input lname" type="text" placeholder="Last Name" formControlName="lastname">
        <input class="appointment__input email" type="email" placeholder="E-Mail" formControlName="email"
               [class.invalid]="email.invalid && (email.dirty || email.touched)" email>
        <div class="form-inline appointment__input date">
          <div class="form-group w-100">
            <div class="input-group w-100">
              <input class="form-control"
                     placeholder="Date"
                     name="dp"
                     ngbDatepicker
                     #d="ngbDatepicker"
                     formControlName="date"
                     [class.invalid]="date.invalid && (date.dirty || date.touched)"
                     [readonly]="true"
                     (click)="d.toggle()"
              >
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  (click)="d.toggle()"
                  type="button"
                >
                  <span class="oi oi-calendar"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="class appointment__buttongrid">
          <button class="appointment__button" [disabled]="appointmentForm.invalid" (click)="send()">SUBMIT</button>
        </div>
      </form>
    </div>
    <div *ngIf="formDir.submitted">
      <div class="w-50 m-auto p-3 header__label" *ngIf="complete">
        <p>APPOINTMENT COMPLETE:</p>
        <P>NAME: {{displayAppointment.fname}} {{displayAppointment.lastname}}</P>
        <p>E-MAIL: {{displayAppointment.email}}</p>
        <p>DATE: {{ displayAppointment.date.month }} - {{ displayAppointment.date.day }} - {{
          displayAppointment.date.year
          }}</p>
      </div>
      <div *ngIf="pending">
        <div class="progress w-50 m-auto">
          <div class="progress-bar progress-bar-striped progress-bar-animated pendingbar"
               role="progressbar"
               style="width: 0" [class.pendingbar]="pending"></div>
        </div>
      </div>
    </div>


  </div>


</section>
